@model ICollection<BookingViewModel>
@{
    ViewBag.Title = "Patient Appointments";
}

<div class="text-left row">

    @foreach (var appoinment in Model)
    {
        <ul>
            <li class="alert-primary">
                 <div class="card-body">
            <h5 class="card-title mt-1 ">@appoinment.FirstName @appoinment.LastName</h5>
            <p class="mb-0"><span class="fw-bold">Date: </span>@appoinment.Date.ToShortDateString()</p>
            <p class="mb-0"><span class="fw-bold">Time: </span>@appoinment.PreferredHour</p>
            <p class="mb-0"><span class="fw-bold">Treatment: </span>@appoinment.Treatment</p>
            <p class="mb-0"><span class="fw-bold">Dentist: </span>@appoinment.Dentist</p>
            <p class="mb-0"><span class="fw-bold">Status: </span>@appoinment.Status</p>
        </div>
            </li>
        </ul>
       
    }
</div>