@model ICollection<AddPatientViewModel>

@{
    ViewBag.Title = "My Patients";
}

<h2>@ViewBag.Title</h2>
<div class="card-body">
    @foreach (var patient in Model)
    {

        <div class="list-group-item">
            <h5 class="card-title mt-1 ">@patient.FirstName @patient.LastName</h5>
            <p class="mb-0"><span class="fw-bold">Phone Number: </span>@patient.PhoneNumber</p>
            <p class="mb-0"><span class="fw-bold">Gender: </span>@patient.Gender</p>

            <a asp-controller="Patient" asp-action="Details" asp-route-id="@patient.Id" class="btn btn-warning">View Details</a>
            <a asp-controller="Patient" asp-action="AddAppointment" asp-route-id="@patient.Id" class=" btn btn-info">Add appointment</a>
            <a asp-controller="Patient" asp-action="Delete" asp-route-id="@patient.Id" class="btn btn-danger">Delete</a>
        </div>
    }
</div>
